<!--
  libvirt domain of one Dot (architecture section 3.4), rendered by
  apps/vm-manager. Every value between double braces is XML-escaped before it
  is inserted; an unknown name is an error, not an empty string.
-->
<domain type='kvm'>
  <name>{{name}}</name>
  <title>invisible_dots {{dotId}}</title>
  <metadata>
    <idots:dot xmlns:idots='https://github.com/feder-cr/dots/libvirt/1'>
      <idots:id>{{dotId}}</idots:id>
      <idots:cid>{{cid}}</idots:cid>
    </idots:dot>
  </metadata>
  <memory unit='MiB'>{{memoryMiB}}</memory>
  <currentMemory unit='MiB'>{{memoryMiB}}</currentMemory>
  <vcpu placement='static'>{{cpus}}</vcpu>
  <os>
    <type arch='x86_64' machine='q35'>hvm</type>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <cpu mode='host-passthrough' check='none'/>
  <clock offset='utc'>
    <timer name='rtc' tickpolicy='catchup'/>
    <timer name='pit' tickpolicy='delay'/>
    <timer name='hpet' present='no'/>
  </clock>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <pm>
    <suspend-to-mem enabled='no'/>
    <suspend-to-disk enabled='no'/>
  </pm>
  <devices>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2' discard='unmap'/>
      <source file='{{diskPath}}'/>
      <target dev='vda' bus='virtio'/>
    </disk>
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{seedPath}}'/>
      <target dev='sda' bus='sata'/>
      <readonly/>
    </disk>
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{runtimeImage}}'/>
      <target dev='sdb' bus='sata'/>
      <readonly/>
    </disk>
    <interface type='network'>
      <source network='{{network}}'/>
      <model type='virtio'/>
    </interface>
    <serial type='file'>
      <source path='{{serialLog}}' append='on'/>
      <target type='isa-serial' port='0'>
        <model name='isa-serial'/>
      </target>
    </serial>
    <channel type='unix'>
      <target type='virtio' name='org.qemu.guest_agent.0'/>
    </channel>
    <vsock model='virtio'>
      <cid auto='no' address='{{cid}}'/>
    </vsock>
    <rng model='virtio'>
      <backend model='random'>/dev/urandom</backend>
    </rng>
    <memballoon model='virtio'/>
    <video>
      <model type='none'/>
    </video>
  </devices>
</domain>
